/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif; /* Fallback for Inter if not loaded */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Adjust slick-carousel dots if needed */
.slick-dots li button:before {
  color: #a8e063 !important; /* Green color for active dot */
  font-size: 10px !important;
  opacity: 0.75 !important;
}

.slick-dots li.slick-active button:before {
  color: #0f1c2e !important; /* Darker color for active dot */
  opacity: 1 !important;
}